<div class="banner">
  <div>
    <h1>My movies</h1>
  </div>
</div>

<div class="container">
  <div class="row mt-5 align-items-center justify-content-center">
    <div class="col-6">
      <h1 class="text-center">My categories</h1>
    </div>
    <div class="col-6">
      <div class="text-center">
        <%= link_to "New list", new_list_path, class: "btn btn-success mr-2"%>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5 mb-4">
    <% @lists.each do |list| %>
      <div class="col-4">
        <div class="card" style="background-image: url('<%= asset_path('cinema.jpg') %>');">
          <div class="card-body">
            <%= link_to list_path(list), class: "btn btn-primary" do %>
              <%= list.name %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
